// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...
@use "colors.scss";

@font-face {
    font-family: "finn-default";
    src: url("https://assets.finn.no/pkg/@warp-ds/fonts/v1/FINNTypeStrippet-Light.woff2");
}

@font-face {
    font-family: "finn-medium";
    src: url("https://assets.finn.no/pkg/@warp-ds/fonts/v1/FINNTypeStrippet-Medium.woff2");
}

body {
    font-family: 'finn-default', sans-serif;
    margin: 0 auto;

    h1, h2, h3, h4, h5, h6 {
        font-family: "finn-medium", "finn-default" sans-serif;
    }

    main, section {
        display: flex;
        flex-wrap: wrap;
    }
}
