// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...

@font-face {
    font-family: "finn-default";
    src: url("https://assets.finn.no/pkg/@warp-ds/fonts/v1/FINNTypeStrippet-Light.woff2");
}

@font-face {
    font-family: "finn-medium";
    src: url("https://assets.finn.no/pkg/@warp-ds/fonts/v1/FINNTypeStrippet-Medium.woff2");
}

// Colors go here
$finnBlue: #0063fb;
$finnDimBlue: #f0f8fe;
$finnButtonBlue: #0063fb;
$finnCardBlue: #f1f9ff;
$finnVectorBlue: #38bdf8;

$finnBackgroundGrey: #f7f7f7;
$finnBorderGrey: #c3ccd9;

body {
    font-family: 'finn-default', Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

main, section {
    display: flex;
    flex-wrap: wrap;
}

section {
    padding-bottom: 20px;
    // padding-left: 150px;
    // padding-right: 150px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "finn-medium", "finn-default", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 23px;
    font-weight: normal;
    margin-left: 300px;
}

header {
    max-width: 900px;
    width: 96%;
    
    nav {
        display: inline;

        position: -webkit-sticky;
        position: sticky;

        max-width: 880px;
        width: 80%;

        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding-top: 9px;
            margin: 0 auto;
            max-width: 800px;
            width: 96%;
            text-align: right;

            .finn-logo {
                display: block;
                margin: 0 auto;
                max-width: 200px;
                width: 14%;
                text-align: left;
                padding-top: 8px;
            }

            li {
                display: inline;
            }
        
            li a {
                color: rgb(103, 103, 103);
                padding: 14px 16px;
                text-decoration: none;
                font-family: "finn-default", Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 75%;
            }
        
            li:first-child {
                text-align: left;
            }
        
            li:nth-child(2) {
                text-align: left;
                padding-top: 3px;
            }
        }
    }

    hr {
        opacity: calc(50%);
    }
}

.search {

    input {
        display: block;
        text-align: left;
        width: 48%;
        margin-left: 285px;
        margin-top: 33px;
        padding: 15px;
        border-radius: 5px;

        border: 1px solid $finnBorderGrey; 
    }
}

.categories-section {
    display: grid;
    grid-template-columns: repeat(6, minmax(10rem,2fr));
    margin-top: 35px;
    margin-left: 40px;
    padding-left: 200px;
    padding-right: 200px;
    height: 19cap;

    &__vector {
        color: $finnVectorBlue;
    }
}

.index-nav {
    background-color: $finnBorderGrey;

    .index-list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .index-list__element {
            padding: 10px;

            .index-list__link {
                &--items, &--login {
                    background-color: $finnDimBlue;
                    border-radius: 7px;
                }

                &--items:hover, &--login:hover {
                    background-color: turquoise;
                }
            }
        }  
    }
}
  
.card {
    border: solid 1px #7d7d7d4d;
    border-radius: 10px;
    padding: 40px;
    width: 205px;
    height: 205px;
    margin: 10px;
}
  
  
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
}
  
.styled:hover {
    background-color: rgba(0, 251, 255, 0.222);
}
  
  
.items-section {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}

.items-section p {
    margin-left: 10px;
    margin-bottom: 10px;
}
